{
    "presets": [
        [
            "@babel/env",
            {
                "debug": true,
                "useBuiltIns": "usage",
                "corejs": 3,
                "loose": true
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "@babel/plugin-proposal-optional-chaining"
    ]
}