{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "corejs": 3,
                "loose": true,
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}